<%- include("../includes/head") %>
    <section class="mx-auto">
      <h1>Reset Passoword link is sent to your email</h1>
      <p>Check in your email</p>
      <p>or</p>
      <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Open Gmail</a>
        <a href="/">Go back home</a>
    </section>
  </body>
<%- include("../includes/foot") %>