@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 8px 12px;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 0 20px;
}

.header h1 {
  font-size: 30px;
}

.header p {
  font-size: 22px;
}

a:not(.post-title) {
  display: block;
  margin: 10px 0;
  color: #fff;
  background-color: #000;
  padding: 9px 12px;
  width: fit-content;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 4px;
}

a.post-title {
  text-decoration: underline;
  color: #000;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.header-btn .btn {
  width: fit-content;
  padding: 9px 12px;
}

button {
  border: none;
  outline: none;
  border-radius: 4px;
}

.title {
  font-size: 45px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 24px 0;
  text-align: center;
}
label {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}
input,
textarea {
  font-size: 18px;
  padding: 4px 10px;
  width: 100%;
}
button {
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #000;
  padding: 12px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.mx-auto {
  width: 40%;
  margin: auto auto;
}

.form-box {
  width: 96%;
}

.form-box input,
.form-box textarea {
  width: 100%;
}

.post-box {
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.post-inner {
  border: 1px solid black;
  width: calc(25% + 4.8rem);
  height: calc(36rem);
  padding: 18px 12px;
  margin: 0 18px;
}

.post-inner img {
  margin: 8px 0;
}

.post-title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
}

.post-inner img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.post-description {
  font-size: 18px;
  text-align: justify;
  text-transform: capitalize;
  margin: 22px 0;
  width: 100%;
}

.post-email {
  font-weight: bold;
  font-size: 20px;
}

.post-email a {
  background-color: transparent;
  color: #000;
  padding: 0;
}

.details {
  width: 65%;
}

.details-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details h1 {
  text-align: left;
  margin: 20px 0;
}
.details img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.details hr {
  margin: 20px 0;
}

.details p {
  font-size: 19px;
  text-align: justify;
}

.details .details-btn, .details .details-btn .details-btn-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.details .details-btn .details-btn-inner {
  justify-content: space-around;
}

.details .edit-icon, .details .trash-icon, .details .download-icon {
  font-size: 22px;
  text-align: center;
}

.details .download-icon {
  display: block;
  text-align: center;
  font-size: 26px;
}

.details .save-btn {
  width: 75px;
}

.details .trash-icon {
  color: #ff0000;
}

.details button {
  width: fit-content;
  padding: 8px 12px;
  background-color: transparent;
}

.error-msg {
  text-align: center;
  color: black;
  border: 1px solid red;
  background-color: rgb(231, 110, 110);
  padding: 4px 8px;
}

.login-div,
.login-div div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.form-title {
  text-align: center;
  font-size: 30px;
}

.ctl {
  margin: 5px 0;
  font-weight: 600;
}

.error-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.error-404 div h1 {
  font-size: 55px;
  font-weight: bold;
}

.error-404 a {
  margin: 0 auto;
}

.icon {
  margin: 4px 5px;
  font-size: 17px;
}

.input-container {
  display: flex;
  margin-top: 9px;
  margin-bottom: 15px;
  border: 1px solid #000;
  width: 104%;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 516px;
  color: #000;
}

.input-icon {
  padding: 10px;
  color: #000;
  min-width: 50px;
  text-align: center;
  font-size: 25px;
}

.no-post {
  margin: 12px auto;
  width: fit-content;
}

.no-post h4 {
  font-size: 26px;
  margin-bottom: -8px;
}

.bd-ctl input {
  border: 1px solid #000;
  padding: 8px 5px;
  width: 104%;
}

.bd-ctl ~ div textarea, .bd-ctl input {
  margin: 4px 0 0 0;
  width: 104%;
}

.pagination {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.profile h1 {
  text-align: center;
  font-size: 32px;
  margin: 18px 0;
}

.profile .profile-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
}

.profile .profile-inner .profile-inner-lt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile .profile-inner .profile-inner-lt i, .profile .public-profile i {
  font-size: 75px;
}

.profile .profile-inner .profile-inner-rt a {
  width: 100%;
  text-align: center;
}

.profile .public-profile {
  margin: auto;
  width: fit-content;
}

.profile .public-profile .circle-user-ic {
  width: 100%;
  text-align: center;
  margin: 25px 0 0 0;
}

.profile .profile-inner-lt p, .profile .public-profile p {
  text-align: center;
  margin: 8px 0 0 0;
}

.premium {
  width: 60%;
  margin: 95px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.premium-card {
  height: 350px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}

.premium-card h3 {
  font-size: 24px;
  text-align: center;
}

.premium-card ul li {
  margin: 12px 0 10px 16px;
  font-size: 22px;
}

.premium-card button {
  background-color: #000;
  color: #fff;
  padding: 8px 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin: 16px 0 0 0;
  text-align: center;
}

.profile .public-profile .public-profile-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.profile .profile-inner .profile-inner-lt .star-icon, .profile .public-profile .star-icon, .head-handler .username-ic .star-icon {
  width: fit-contents;
  font-size: 18px;
  background: linear-gradient(135deg, #37aee2, #8b79f6, #ffbdbf);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile .public-profile .star-icon {
  margin-left: 4px;
}

.head-handler {
  display: flex;
  align-items: center;
  gap: 3px;
  height: 7px;
  margin-bottom: 18px;
  margin-top: 12px;
}

.head-handler i:not(.star-icon) {
  font-size: 35px;
}

.username-ic {
  display: flex;
  justify-content: center;
}

.p-details {
  width: 450px;
  background-color: #f6eee3;
  padding: 12px 18px;
  margin-top: 5rem;
  border: none;
  outline: none;
  border-radius: 4px;
}

.p-details h1 {
  font-size: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.p-details p {
  margin-bottom: 18px;
}

.p-details span {
  font-weight: bold;
}

.p-details .p-status {
  background-color: #059403;
  color: #fff;
  text-transform: capitalize;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 4px 6px;
}