<%- include("../includes/head") %>
    <section class="mx-auto roboto-medium premium">
      <div class="premium-card">
        <h3>Premium Account</h3>
        <ul>
            <li>Download PDF file</li>
            <li>Animate profile badge</li>
            <li>Can setusername unlimited</li>
        </ul>
        <div>Buy Premium</div>
      </div>
    </section>
  </body>
<%- include("../includes/foot") %>
