<%- include("../includes/head") %>
<section class="error-404 roboto-medium">
  <div>
    <h1><%= message %></h1>
    <a href="/"><i class="fa-solid fa-arrow-left-long icon"></i>Go back home</a>
  </div>
</section>
<%- include("../includes/foot") %>
